.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  width: 80%;
  margin: auto;
}
.row-1{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px; 
  margin-bottom: 15px;
}
.col {
  width: 18%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 0;
}
.col-1{
  width: 23%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 0;
}
.col-1 h2, .col-1 p{
  text-align: left;
  padding-left: 5px;
}
.kurtas{
  background-color: #D1C4E9;
}
.tops{
  background-color: #673AB7;
  color: white;
}
.displayImg{
  width: 40%;
  display: flex;
  justify-content: center;
}
.displayImg img{
  height: 320px;
}
.displayDetails{
  width: 50%;
}
.pdDiv{
  width: 65%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 90px;
}
.pdDiv p{
  margin: 0;
  padding: 5px; 
}
.pdDiv p span{
 font-weight: 600;
}
.displayDetails i{
  padding-right: 5px;
}
.fa-window-close{
  float: right;
  margin-right: 40px;
  color: white;
  background-color: #673AB7;
  padding: 0;
  font-size: 2rem;
}
.display-name, .money, .size, .product-details{
  font-size: 1.3rem;
  margin: 0;
  padding: 5px;
}
.money{
  font-weight: 900;
}
.display-subname{
  font-size: 1.2rem;
  margin: 0;
  padding: 5px ;
  color: #757575;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 15px;
}
.taxes{
  font-size: 0.9rem;
  color: #512DA8;
  margin: 0;
  padding: 5px;
  font-weight: 600;
  margin-bottom: 15px;
}
.col-2{
  width: 50px;
  border: 1px solid #757575;
  text-align: center;
  margin: 5px;
  border-radius: 50%;
  padding: 10px 2px;
}
.add-to-bag{
  color: white;
  background-color: #673AB7;
  padding: 15px 20px;
  margin-right: 10px;
}
.whishlist{
  border: 2px solid #757575;
  padding: 13px 20px;
}
.product {
  height: 250px;
  margin: auto;
  padding: 10px 0;
  max-width: 100%;
}
.product-1{
  height: 300px;
  margin: auto;
  padding: 10px 0;
  max-width: 100%;
}

.womens{
  background-color: #673AB7;
  color: white!important;
}
.mens{
  background-color: #D1C4E9;
}
.kids{
  background-color: #673AB7;
  color: white!important;
}
.accessories{
  background-color: #D1C4E9;
}
/*  */
.cards h1{
  font-size: 5rem;
  padding: 20px;
  font-family: 'Playball', cursive;
  padding-bottom: 0px;
  width: 80%;
  margin: auto;
}
.cards hr{
  margin-bottom: 20px;
  
}
.offers{
  color: #212121!;
  font-family: 'Cinzel', serif;
  font-size: 1.8rem;
  margin: 0 0 10px 0;
  padding: 1.6px 10px 10px 10px;
  font-weight: 600;
  align-content: flex-end;
}

@media only screen and (max-width: 830px) {
  .col{
    width: 40%;
  }
  .cards h1{
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 425px) {
  .col{
    width: 40%;
  }
  .product {
    height: 180px;
  }
  .offers{
    font-size: 1.1rem;
  }
  .cards h1{
    font-size: 2.5rem;
  }
}