.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
.col {
  width: 18%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 0;
}
.product {
  height: 300px;
  margin: auto;
  padding: 10px 0;
  max-width: 100%;
}
.womens{
  background-color: rgba(83, 109, 254, 0.8);
}
.mens{
  background-color: rgba(211, 90, 136, 0.8); 
}
.kids{
  background-color: rgba(83, 109, 254, 0.8);
}
.accessories{
  background-color: rgba(211, 90, 136, 0.8); 
}
.cards h1{
  font-size: 5rem;
  padding: 20px;
  font-family: 'Playball', cursive;
  padding-bottom: 0px;
}
.cards hr{
  margin-bottom: 20px;
}
.offers{
  color: #212121!important;
  font-family: 'Cinzel', serif;
  font-size: 1.8rem;
  margin: 0 0 10px 0;
  padding: 2px 10px 10px 10px;
  font-weight: 600;
  align-content: flex-end;
}

@media only screen and (max-width: 830px) {
  .col{
    width: 40%;
  }
}
@media only screen and (max-width: 425px) {
  .col{
    width: 40%;
  }
  .product {
    height: 180px;
  }
  .offers{
    font-size: 1.2rem;
  }
}