.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between; 
  padding: 0 30px;
  min-height: 60px;
  font-size: 25px;
  letter-spacing: 3px;
}
a{
  color: inherit;
  text-decoration: none;
}
.navbar-list{
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.nav-link, .nav-search{
  padding: 1px 10px;
  margin: 0 10px;
  font-size: 1.1rem;
}
.subnav .navbar-list .nav-link{
  padding: 2px 10px 2px 15px;
  margin: 0 10px 2px 15px;
  font-size: 1.2rem;
}
.nav-link{
  white-space: nowrap;
}
.nav-link i{
  padding-left: 3px;
}
.nav-link:hover{
  color: #212121;
  font-weight: 900;
  text-shadow: 2px 2px 4px white;
}
.navbar-collapse{
  display: flex;
  width: 70%;
  justify-content: end;
}
.subnav{
  width: 100%;
}
input[type=search]{
  height: 2rem;
  margin: 0 10px;
  width: 350px;
  padding: 10px;
  border-radius: 5px;
}
.nav-search{
  margin-right: 70px;
  display: flex;
}
.btn{
  background-color: white;
  outline: 0;
  border: none;
  padding: 6px 10px 6px 12px ;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.btn-outline{
  border: 1px solid white;
  box-shadow: 3px 3px 4px black;
}
.btn-toggler{
  display: none;
}
.navbar-brand{
  font-size: 2.5rem;
  padding: 7px;
  font-weight: 600;
}
.navbar-toggle{
  display: none;
}
.navbar-brand span{
  color: white;
  text-shadow: 4px 2px 4px #212121;
  font-size: 2.6rem;
  font-weight: 900;
  font-style: oblique;
  font-family: 'Playball', cursive;
  padding: 0;
  margin: 0;
  letter-spacing: 5px;
  word-spacing: 0;
}
.row-6{
  width: 80%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 5px;
}
.row-6 p{
  margin: 0;
  padding: 5px 0;
}
footer{
  color: white;
}
.footer-details{
  width: 100%;
  text-align: center;
}
.footer-nav{
  width: 100%;
  font-size: 1.1rem;
  margin: auto;
}
.footer-nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 0;
}
.footer-nav ul li{
  padding: 10px;
}
.footer-nav ul li a{
  white-space: nowrap;
}
.copyright{
  text-align: center;
  margin: 0;
  padding: 10px;
}

@media only screen and (max-width: 1190px){
  .nav-search{
    margin: 0 10px;
  }
  input[type=search]{
    width: 300px;
  }
}
@media only screen and (max-width: 1064px){
  input[type=search]{
    width: 200px;
  }
}
@media only screen and (max-width: 979px){
  .btn-toggler{
    display: block;
    color: white;
    background-color: inherit;
    border: 0;
  }
  .btn-toggler i{
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
  .navbar-collapse{
    display: none;
  }
  .navbar-list{
    display: block;
    flex-direction: column;
  }
  input[type=search]{
    margin: 0;
    margin-right: 5px;
    width: 250px;
  }
  .nav-link, .nav-search{
    padding: 10px 0px;
    margin: 0;
    font-size: 1.1rem;
  }
  .subnavbar{
    display: none;
  }
}
@media only screen and (max-width: 371px){
  input[type=search]{
    width: 150px;
  }
}
@media only screen and (max-width: 669px){
  footer{
    font-size: 0.7rem;
  }
  .footer-nav ul li a{
    font-size: 0.6rem;
  }
  .footer-nav{
    width: 100%;
  }
  .footer-details{
    width: 100%;
  }
}
@media only screen and (max-width: 452px){
  footer{
    font-size: 0.7rem;
  }
  .footer-nav ul li{
    padding: 3px;
  }
  .footer-nav{
    width: 100%;
  }
  .footer-details{
    width: 100%;
  }
}
